@import "../../../src/stylus/_stylebase.styl"

// Import fonts
//////////////////////////////////////////////////////

@font-face {
  font-family: $font-family;
  src: url("/fonts/Ubuntu/Ubuntu-Regular.eot");
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("/fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"),
    url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: $font-weight.regular;
  font-style: normal;
}

@font-face {
  font-family: $font-family;
  src: url("/fonts/Ubuntu/Ubuntu-Bold.eot");
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"),
    url("/fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"),
    url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: $font-weight.bold;
  font-style: normal;
}

// Customization
//////////////////////////////////////////////////////

$gutter = 20px

html,
body,
#app
  height: unset
  max-height: unset
  overflow: auto
  letter-spacing normal

body
  color $colors.text

#app
  padding-top 57px

.theme-container
  height 100%
  overflow-y auto

.page
  overflow-x hidden
  z-index 1000

  ul,
  p
    margin-top $gutter * 1.5 !important
    margin-bottom $gutter * 1.5 !important

    +$gadgets()
      margin-top $gutter !important
      margin-bottom $gutter !important

  p:not([class*="inner"])
    $text("natasha")

  a
    text-decoration none !important
    color $colors.primary

.page a:hover
  text-decoration none !important
  border-bottom 2px solid $colors.primary

strong
  font-weight 700

.theme-default-content:not(.custom)
  +$desktop()
    padding-left $wrapper.gutter--desktop
    padding-right $wrapper.gutter--desktop

  +$tablet()
    padding-left $wrapper.gutter--tablet
    padding-right $wrapper.gutter--tablet

  +$mobile()
    padding-left $wrapper.gutter--mobile
    padding-right $wrapper.gutter--mobile

.theme-default-content:not(.custom),
.page-nav
  max-width 900px

  > h1
    color $colors.primary
    margin-bottom $gutter * 2 !important
    padding-top $gutter * 8
    padding-bottom round($gutter * 2/3)
    $text("olga")

    +$gadgets()
      padding-top $gutter * 4
      $text("anna")

  > h2
    color rgba($colors.text, $opacites.psy)
    padding-top $gutter * 6
    margin-bottom $gutter
    padding-bottom round($gutter * 2/3)
    $text("anna")

    +$gadgets()
      padding-top $gutter * 5
      font-size 28px
      $text("maria")

  > h3
    $text("maria")
    padding-top $gutter * 5
    padding-bottom $gutter * 0.5

    +$gadgets()
      padding-top $gutter * 4
      padding-bottom $gutter * 0.25
      $text("katya")

  > h4
    margin-bottom ($gutter / 2)
    $text("alena")

.navbar
  z-index 3000

  .site-name
    transform translateY(4px)
    color $colors.primary
    $text("katya")

.search-box input:focus
  border-color $colors.primary

a.sidebar-link
  $text("natasha")
  font-weight normal

  &:hover
    color $colors.primary

a.sidebar-link.active
  color $colors.primary
  background rgba($colors.primary, ($opacites.psy / 2))
  border-left-color $colors.primary

.sidebar-sub-header a.sidebar-link
  $text("nina")

  &.active
    background transparent

table
  thead
    tr th
      background rgba($colors.text, $opacites.psy)
      color #fff

  tr:nth-child(2n)
    background none

.theme-default-content:not(.custom) a.toolbar__button:hover
  text-decoration none

.custom-block
  margin-top 40px !important
  margin-bottom 40px !important

  &.tip
    color darken($colors.wood, 60%)
    border-color $colors.wood
    background rgba($colors.wood, ($opacites.psy / 2))

    .custom-block-title
      color darken($colors.wood, 30%)

  &.warning
    color darken($colors.primary, 60%)
    border-color $colors.primary
    background rgba($colors.primary, ($opacites.psy / 2))

    .custom-block-title
      color darken($colors.primary, 30%)

  &.danger
    color darken($colors.bird, 60%)
    border-color $colors.bird
    background rgba($colors.bird, ($opacites.psy / 2))

    .custom-block-title
      color darken($colors.bird, 30%)

.extra-class
  background darken($colors.sea, 15%) !important

.page-nav a,
.page-nav span,
.nav-links
  font-size 16px
  color $colors.primary

.nav-link,
.repo-link
  &:hover
    color $colors.primary !important
    text-decoration none !important
    border-bottom 2px solid $colors.primary

footer.page-edit
  display none

.icon.outbound
  transform translateY(-1px)
  margin-left 3px

.sidebar-button
  transform translateX(5px) translateY(10px)

  .icon
    transform translateX(-10px) translateY(-10px)


// Custom classes for markdown and render tests
//////////////////////////////////////////////////////

// utilitty-css method ))))

.nowrap
  white-space nowrap

.hidden--gadgets
  +$gadgets()
    display none

.block
  @extend $flex--center
  height 100%
  color $colors.stone
  background lighten($colors.text, 90%)
  $text("maria")

  &--small
    +$tablet()
      $text("alena")

.place
  background lighten($colors.secondary, 75%)

.test-name
  margin-bottom 10px
  $text("maria")

.test-block
  margin-bottom 20px

// Icon
.icons-test
  > div
    display inline-block

.icon-test
  display flex
  align-items center
  margin-bottom 20px
  margin-right 40px

  &__text
    margin-left 20px

// Button
.buttons-test
  > div:not([class*="buttons-test__wide"])
    margin-bottom 10px

  &__wide
    padding-top 10px

// Wrapper
.wrapper-test
  height 300px

  > *
    height 100px
