@import "utils/_variables";
@import "utils/_placeholders";
// @import "utils/_mixins";
@import "utils/_typography";

// core
// @import "core/_animations";
// @import "core/_base";
// @import "core/_utilities";

// libs
// @import "libs/_swiper";
// @import "libs/_tooltip";
